/* .layout{
  height: 100%
} */
.header {
  color: white;
}
.content {
  margin: 16px;
}
.box {
  padding: 24px;
  background: #fff;
  min-height: 500px;
}
.footer {
  text-align: center;
  height: 64px
}
.icon {
  float: left;
  margin: 25px 20px 0 0;
}
